@model IList<ArchiveMVC5.Models.UserGroupModel>
@{
    ViewBag.Title = "ShowListUserGroup";
}
@* Search UserGroup  *@
@{
    foreach(var userGroupItem in Model)
    {
        <tr class="row_usergroup" id ="@userGroupItem.Id">
            <td><input type="checkbox" class="user_checkbox_select_usergroup item-check"></td>
            <td class="td_usergroup_name">@userGroupItem.Name</td>
        </tr>
    }
}

