<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <clear/>
    <add key="NoReplyMail" value="info@miasolutioninc.com"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="PortNumber" value="587"/>
    <add key="Username" value="info@miasolutioninc.com"/>
    <add key="Password" value="Svr1552014"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ECMConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Primary_User;User ID=sa;Password=59 139 50 136 83 143 229 173 161 115 154 4 18 223 237 161 141 129 215 142 51 47 61 143" providerName="System.Data.SqlClient" />-->
    <!--<add name="ECMConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=Primary_User;User ID=sa;Password=137 201 29 142 28 247 126 55 140 246 247 123 52 175 13 245 243 7 57 66 120 124 19 39 66 180 191 184 111 143 50 130 132 127 208 229 40 226 163 19 246 41 44 167 244 178 148 190" providerName="System.Data.SqlClient" />-->
    <add name="ECMConnectionString" connectionString="Data Source=192.168.1.55;Initial Catalog=Primary_User;User ID=sa;Password=245 179 179 142 34 27 158 80 10 154 125 34 149 158 201 68 9 81 78 206 197 188 207 5 170 37 99 86 143 254 140 17 22 103 54 162 81 136 90 184 197 187 252 12 136 214 14 255 86 35 119 165 207 23 0 250" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime maxRequestLength="2048000" executionTimeout="3600"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\mobile.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="1" multipleSiteBindingsEnabled="true"/>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="Ecm.MobileCaptureService.MobileCapture">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="DefaultWebBinding" behaviorConfiguration="DefaultWebEndPointBehavior" contract="Ecm.Mobile.Contract.IMobileCapture">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LargeDataServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="DefaultWebEndPointBehavior">
          <webHttp automaticFormatSelectionEnabled="true" defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" textEncoding="utf-8" messageEncoding="Mtom" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="DefaultWebBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <log4net debug="false">
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log//eDocPro.log"/>
      <StaticLogFileName value="True"/>
      <appendToFile value="True"/>
      <rollingStyle value="Composite"/>
      <datePattern value="MM-dd-yyyy"/>
      <maxSizeRollBackups value="30"/>
      <maximumFileSize value="50MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <threshold value="DEBUG"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM-dd-yyyy HH:mm:ss} [%level] [%thread] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="eDocPro">
      <level value="DEBUG"/>
      <appender-ref ref="DebugTextLog"/>
    </logger>
  </log4net>
</configuration>