<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="ECMConnectionString"
          connectionString="Data Source=192.168.1.26;Initial Catalog=Primary_User;User ID=sa;Password=137 201 29 142 28 247 126 55 140 246 247 123 52 175 13 245 243 7 57 66 120 124 19 39 66 180 191 184 111 143 50 130 132 127 208 229 40 226 163 19 246 41 44 167 244 178 148 190"
          xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    </system.web>
</configuration>