@model ArchiveMVC5.Models.DocumentSerializable
<div id="documentViewer"></div>
<script>
    $(document).ready(function () {
        @{
            foreach(var p in Model.Pages){
                <text>

                </text>
            }
        }
    });
</script>