<?xml version="1.0"?>
<configuration>
  <appSettings file="">
    <clear />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="default" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" textEncoding="utf-8" messageEncoding="Mtom" transferMode="Buffered" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="basicHttp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" allowCookies="false" hostNameComparisonMode="StrongWildcard"
                 textEncoding="utf-8" messageEncoding="Mtom" transferMode="Buffered" useDefaultWebProxy="true" bypassProxyOnLocal="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.55/WCF/Archive.svc"
                binding="basicHttpBinding"
                bindingConfiguration="default"
                contract="Ecm.Service.Contract.IArchive"
                name="ArchiveEndPoint"
                behaviorConfiguration="LargeDataServiceBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LargeDataServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>