<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MSSQL_OLEDB_PROVIDER" value="SQLOLEDB.1"/>
    <add key="MYSQL_OLEDB_PROVIDER" value="MySQLProv"/>
    <add key="POSTGRESQL_OLEDB_PROVIDER" value="PGNP.1"/>
    <add key="ORACLE_OLEDB_PROVIDER" value="MSDAORA"/>
    <add key="DB2_OLEDB_PROVIDER" value="IBMDADB2.IBMDBCL1"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
