<ul class="menu_control">
    <li class="menu_control_item control_print" title="Print"></li>
    <li class="menu_control_item control_mail" title="Sent mail"></li>
    <li class="menu_control_item control_save" title="Save"></li>
    <li class="menu_control_item control_pan" title="Pan"></li>
    <li class="menu_control_item control_select" title="Select"></li>
    <li class="menu_control_item control_hide" title="Hide all annotation"></li>
    <li class="menu_control_item control_highlight" title="Add Hightlight"></li>
    <li class="menu_control_item control_redaction" title="Add Redaction"></li>
    <li class="menu_control_item control_comment" title=" Add Text"></li>
    <li class="menu_control_item control_zoomin" title="Zoom in"></li>
    <li class="menu_control_item control_zoomout" title="Zoom out"></li>
    <li class="menu_control_item control_resetzoom fit_width" title="Fit to viewer"></li>
    <li class="menu_control_item control_rotationright" title="Rotation right"></li>
    <li class="menu_control_item control_rotationleft" title="Rotation left"></li>
    <li class="menu_control_item control_navigationup" title="Navigation up"></li>
    <li class="menu_control_item control_navigationdown" title="Navigation down"></li>
</ul>
