<div class="xr_ap content" id="xr_xri" style="width: 100%; height: 100%; background-color:white">
 <!--[if lt IE 9]>
 <img class="xr_ap" src="index_htm_files/3.png" alt="" title="" style="left: 73px; top: 107px; width: 626px; height: 106px;"/>
 <![endif]-->
 <!--[if gte IE 9]><!-->
 <span class="xr_ar" style="left: 73px; top: 107px; width: 626px; height: 106px; background-color: #7FFFFF; border-radius: 15px;"></span>
 <!--<![endif]-->
 <!--[if lt IE 9]>
 <img class="xr_ap" src="index_htm_files/4.png" alt="" title="" style="left: 73px; top: 245px; width: 626px; height: 106px;"/>
 <![endif]-->
 <!--[if gte IE 9]><!-->
 <span class="xr_ar" style="left: 73px; top: 245px; width: 626px; height: 106px; background-color: #00BFBF; border-radius: 15px;"></span>
 <!--<![endif]-->
 <!--[if lt IE 9]>
 <img class="xr_ap" src="index_htm_files/5.png" alt="" title="" style="left: 73px; top: 383px; width: 626px; height: 106px;"/>
 <![endif]-->
 <!--[if gte IE 9]><!-->
 <span class="xr_ar" style="left: 73px; top: 383px; width: 626px; height: 106px; background-color: #007F7F; border-radius: 15px;"></span>
 <!--<![endif]-->
 <!--[if lt IE 9]>
 <img class="xr_ap" src="index_htm_files/6.png" alt="" title="" style="left: 73px; top: 522px; width: 626px; height: 106px;"/>
 <![endif]-->
 <!--[if gte IE 9]><!-->
 <span class="xr_ar" style="left: 73px; top: 522px; width: 626px; height: 106px; background-color: #004040; border-radius: 15px;"></span>
 <!--<![endif]-->
 <div class="Normal_text" style="position: absolute; left:175px; top:176px;">
  <span class="xr_tl Normal_text" style="top: -12px;">Drag&#38;Drop from desktop into left pane, or right-click on the root node</span>
  <span class="xr_tl Normal_text" style="top: 3px;">As well as using top button</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:174px; top:151px;font-size:24px;color:#4C4C4C;">
  <span class="xr_tl Normal_text" style="top: -22px;font-size:24px;color:#4C4C4C;">CAPTURE</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:87px; top:184px;font-family:Verdana, Geneva, sans-serif;font-size:64px;color:#666666;">
  <span class="xr_tl Normal_text" style="top: -64px;font-family:Verdana, Geneva, sans-serif;font-size:64px;color:#666666;">1</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:91px; top:321px;font-family:Verdana, Geneva, sans-serif;font-size:64px;color:#999999;">
  <span class="xr_tl Normal_text" style="top: -64px;font-family:Verdana, Geneva, sans-serif;font-size:64px;color:#999999;">2</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:91px; top:460px;font-family:Verdana, Geneva, sans-serif;font-size:64px;color:#B2B2B2;">
  <span class="xr_tl Normal_text" style="top: -64px;font-family:Verdana, Geneva, sans-serif;font-size:64px;color:#B2B2B2;">3</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:94px; top:598px;font-family:Verdana, Geneva, sans-serif;font-size:64px;color:#E5E5E5;">
  <span class="xr_tl Normal_text" style="top: -64px;font-family:Verdana, Geneva, sans-serif;font-size:64px;color:#E5E5E5;">4</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:175px; top:313px;">
  <span class="xr_tl Normal_text" style="top: -12px;">Select one or more item on the left pane to organize unclassified </span>
  <span class="xr_tl Normal_text" style="top: 3px;">contents</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:174px; top:289px;font-size:24px;color:#4C4C4C;">
  <span class="xr_tl Normal_text" style="top: -22px;font-size:24px;color:#4C4C4C;">CLASSIFY</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:174px; top:453px;">
  <span class="xr_tl Normal_text" style="top: -12px;">Enter keyword to make content can be searchable via pre-defined</span>
  <span class="xr_tl Normal_text" style="top: 3px;">meta-data on content type</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:173px; top:429px;font-size:24px;color:#4C4C4C;">
  <span class="xr_tl Normal_text" style="top: -22px;font-size:24px;color:#4C4C4C;">INDEX</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:174px; top:593px;">
  <span class="xr_tl Normal_text" style="top: -12px;">Submit to your cloud, then your contents copies are safe forever</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:174px; top:569px;font-size:24px;color:#4C4C4C;">
  <span class="xr_tl Normal_text" style="top: -22px;font-size:24px;color:#4C4C4C;">SUBMIT</span>
 </div>
 <div class="Normal_text" style="position: absolute; left:75px; top:79px;font-size:36px;">
  <span class="xr_tl Normal_text" style="top: -33px;font-size:36px;">How to submit contents</span>
 </div>
 <div id="xr_xo0" class="xr_ap" style="left:0; top:0; width:760px; height:100px; visibility:hidden;">
 <a href="" onclick="return(false);">
 </a>
 </div>
 <img class="xr_rn_ xr_ap" src="~/Content/UserGuide/7.png" alt="" title="" style="left: 609px; top: 265px; width: 69px; height: 66px;"/>
 <img class="xr_rn_ xr_ap" src="~/Content/UserGuide/8.png" alt="" title="" style="left: 603px; top: 404px; width: 75px; height: 64px;"/>
 <img class="xr_rn_ xr_ap" src="~/Content/UserGuide/9.png" alt="" title="" style="left: 609px; top: 134px; width: 69px; height: 59px;"/>
 <img class="xr_rn_ xr_ap" src="~/Content/UserGuide/10.png" alt="" title="" style="left: 607px; top: 539px; width: 71px; height: 72px;"/>
 <div id="xr_xd0"></div>
</div>
</div>