@model IList<Ecm.CaptureDomain.User>
@{
    ViewBag.Title = "SearchUser";
}

@{
    foreach(var userItem in Model)
    {
        <tr class="usergroup_row_user" id ="@userItem.Id">
            <td><input type="checkbox" class="usergroup_checkbox_select_user"></td>
            <td class="td_user_name">@userItem.UserName</td>
        </tr>
    }
}
